@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


html {

    /* Pattern */
    width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #191a1a;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;


    scroll-behavior: smooth;
  }


.Title{

    display: flex;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    align-items: center;
    align-self: center;
    text-align: center;
    flex-direction: column;
    margin-top: 5%;
    font-size: 900%;

}

#suggestions {
    background: white;
    border: 1px solid #ccc;
    width: calc(100% - 4px); 
    position: absolute;
    top: calc(100% + 5px); 
    left: 0;
    z-index: 1000;
    display: none; 
}

#suggestions p {

    margin: 0;
    padding: 10px;
    cursor: pointer;
}

#suggestions p:hover {
    background: #f0f0f0;
}



.recherche {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    flex-direction: column; 
}

.recherche input{

    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;

    
}

.recherche input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  


